.ccm-page .input-group, .ccm-btn-preview-container .input-group {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  overflow: scroll;
}
.ccm-page .input-group .btn:not(:last-child):not(:first-child), .ccm-btn-preview-container .input-group .btn:not(:last-child):not(:first-child) {
  border-radius: 0 !important;
}
.ccm-page .btn, .ccm-btn-preview-container .btn {
  all: initial;
  font-family: inherit;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  padding: 1rem 1rem;
  border: 1px solid transparent;
  outline: none;
  margin-bottom: 1rem;
  position: relative;
  line-height: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  letter-spacing: 0.5px;
}
.ccm-page .btn .label, .ccm-btn-preview-container .btn .label {
  display: inline-block;
  min-height: 1rem;
}
.ccm-page .btn.btn-has-icon i, .ccm-btn-preview-container .btn.btn-has-icon i {
  margin-right: 0.5rem;
  position: absolute;
  width: 1rem;
  height: 1rem;
  text-align: center;
}
.ccm-page .btn.btn-has-icon i::before, .ccm-btn-preview-container .btn.btn-has-icon i::before {
  line-height: 1rem;
}
.ccm-page .btn.btn-has-icon .label, .ccm-btn-preview-container .btn.btn-has-icon .label {
  display: inline-block;
  width: calc(100% - 1.5rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 1rem;
}
.ccm-page .btn.btn-has-icon:active, .ccm-btn-preview-container .btn.btn-has-icon:active {
  box-shadow: none;
}
.ccm-page .btn.btn-has-icon.btn-icon-right i, .ccm-btn-preview-container .btn.btn-has-icon.btn-icon-right i {
  right: 0.5rem;
}
.ccm-page .btn.btn-has-icon.btn-icon-right .label, .ccm-btn-preview-container .btn.btn-has-icon.btn-icon-right .label {
  margin-right: 1.5rem;
}
.ccm-page .btn.btn-has-icon.btn-icon-left i, .ccm-btn-preview-container .btn.btn-has-icon.btn-icon-left i {
  left: 1rem;
}
.ccm-page .btn.btn-has-icon.btn-icon-left .label, .ccm-btn-preview-container .btn.btn-has-icon.btn-icon-left .label {
  margin-left: 1.5rem;
}
.ccm-page .btn.btn-sm, .ccm-btn-preview-container .btn.btn-sm {
  padding: 0.5rem 1rem;
  font-size: 0.8em;
}
.ccm-page .btn.btn-sm.btn-has-icon .label, .ccm-btn-preview-container .btn.btn-sm.btn-has-icon .label {
  width: calc(100% - 0.75rem);
}
.ccm-page .btn.btn-sm.btn-has-icon.btn-icon-right i, .ccm-btn-preview-container .btn.btn-sm.btn-has-icon.btn-icon-right i {
  right: 0;
}
.ccm-page .btn.btn-sm.btn-has-icon.btn-icon-right .label, .ccm-btn-preview-container .btn.btn-sm.btn-has-icon.btn-icon-right .label {
  margin-right: 0.75rem;
}
.ccm-page .btn.btn-sm.btn-has-icon.btn-icon-left i, .ccm-btn-preview-container .btn.btn-sm.btn-has-icon.btn-icon-left i {
  left: 0.5rem;
}
.ccm-page .btn.btn-sm.btn-has-icon.btn-icon-left .label, .ccm-btn-preview-container .btn.btn-sm.btn-has-icon.btn-icon-left .label {
  margin-left: 0.75rem;
}
.ccm-page .btn.btn-lg, .ccm-btn-preview-container .btn.btn-lg {
  padding: 1.5rem 1.5rem;
  font-size: 1.1em;
}
.ccm-page .btn.btn-lg.btn-has-icon .label, .ccm-btn-preview-container .btn.btn-lg.btn-has-icon .label {
  width: calc(100% - 2rem);
}
.ccm-page .btn.btn-lg.btn-has-icon.btn-icon-right i, .ccm-btn-preview-container .btn.btn-lg.btn-has-icon.btn-icon-right i {
  right: 1.5rem;
}
.ccm-page .btn.btn-lg.btn-has-icon.btn-icon-right .label, .ccm-btn-preview-container .btn.btn-lg.btn-has-icon.btn-icon-right .label {
  margin-right: 2rem;
}
.ccm-page .btn.btn-lg.btn-has-icon.btn-icon-left i, .ccm-btn-preview-container .btn.btn-lg.btn-has-icon.btn-icon-left i {
  left: 1.5rem;
}
.ccm-page .btn.btn-lg.btn-has-icon.btn-icon-left .label, .ccm-btn-preview-container .btn.btn-lg.btn-has-icon.btn-icon-left .label {
  margin-left: 2rem;
}
.ccm-page .btn.disabled, .ccm-page .btn:disabled, .ccm-btn-preview-container .btn.disabled, .ccm-btn-preview-container .btn:disabled {
  cursor: not-allowed;
}
.ccm-page .btn.btn-primary.disabled, .ccm-page .btn.btn-primary:disabled, .ccm-btn-preview-container .btn.btn-primary.disabled, .ccm-btn-preview-container .btn.btn-primary:disabled {
  color: rgb(var(--primary-button-disabled-text-color));
  background-color: rgb(var(--primary-button-disabled-background-color));
  border-color: rgb(var(--primary-button-disabled-border-color));
}
.ccm-page .btn.btn-primary:not(.disabled):not(:disabled), .ccm-btn-preview-container .btn.btn-primary:not(.disabled):not(:disabled) {
  color: rgb(var(--primary-button-regular-text-color));
  background-color: rgb(var(--primary-button-regular-background-color));
  border-color: rgb(var(--primary-button-regular-border-color));
}
.ccm-page .btn.btn-primary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-primary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-primary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-primary:not(.disabled):not(:disabled):active {
  color: rgb(var(--primary-button-active-text-color));
  background-color: rgb(var(--primary-button-active-background-color));
  border-color: rgb(var(--primary-button-active-border-color));
}
.ccm-page .btn.btn-outline-primary.disabled, .ccm-page .btn.btn-outline-primary:disabled, .ccm-btn-preview-container .btn.btn-outline-primary.disabled, .ccm-btn-preview-container .btn.btn-outline-primary:disabled {
  color: rgb(var(--primary-button-disabled-border-color));
  background-color: transparent !important;
  border-color: rgb(var(--primary-button-disabled-border-color));
}
.ccm-page .btn.btn-outline-primary:not(.disabled):not(:disabled), .ccm-btn-preview-container .btn.btn-outline-primary:not(.disabled):not(:disabled) {
  color: rgb(var(--primary-button-active-border-color));
  border-color: rgb(var(--primary-button-regular-border-color));
}
.ccm-page .btn.btn-outline-primary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-outline-primary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-outline-primary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-outline-primary:not(.disabled):not(:disabled):active {
  color: rgb(var(--primary-button-active-text-color));
  background-color: rgb(var(--primary-button-active-background-color));
  border-color: rgb(var(--primary-button-active-border-color));
}
.ccm-page .btn.btn-secondary.disabled, .ccm-page .btn.btn-secondary:disabled, .ccm-btn-preview-container .btn.btn-secondary.disabled, .ccm-btn-preview-container .btn.btn-secondary:disabled {
  color: rgb(var(--secondary-button-disabled-text-color));
  background-color: rgb(var(--secondary-button-disabled-background-color));
  border-color: rgb(var(--secondary-button-disabled-border-color));
}
.ccm-page .btn.btn-secondary:not(.disabled):not(:disabled), .ccm-btn-preview-container .btn.btn-secondary:not(.disabled):not(:disabled) {
  color: rgb(var(--secondary-button-regular-text-color));
  background-color: rgb(var(--secondary-button-regular-background-color));
  border-color: rgb(var(--secondary-button-regular-border-color));
}
.ccm-page .btn.btn-secondary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-secondary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-secondary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-secondary:not(.disabled):not(:disabled):active {
  color: rgb(var(--secondary-button-active-text-color));
  background-color: rgb(var(--secondary-button-active-background-color));
  border-color: rgb(var(--secondary-button-active-border-color));
}
.ccm-page .btn.btn-outline-secondary.disabled, .ccm-page .btn.btn-outline-secondary:disabled, .ccm-btn-preview-container .btn.btn-outline-secondary.disabled, .ccm-btn-preview-container .btn.btn-outline-secondary:disabled {
  color: rgb(var(--secondary-button-disabled-border-color));
  background-color: transparent !important;
  border-color: rgb(var(--secondary-button-disabled-border-color));
}
.ccm-page .btn.btn-outline-secondary:not(.disabled):not(:disabled), .ccm-btn-preview-container .btn.btn-outline-secondary:not(.disabled):not(:disabled) {
  color: rgb(var(--secondary-button-regular-border-color));
  border-color: rgb(var(--secondary-button-regular-border-color));
}
.ccm-page .btn.btn-outline-secondary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-outline-secondary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-outline-secondary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-outline-secondary:not(.disabled):not(:disabled):active {
  color: rgb(var(--secondary-button-active-text-color));
  background-color: rgb(var(--secondary-button-active-background-color));
  border-color: rgb(var(--secondary-button-active-border-color));
}
.ccm-page .btn.btn-rounded-corners-5, .ccm-btn-preview-container .btn.btn-rounded-corners-5 {
  border-radius: 5px;
}
.ccm-page .btn.btn-rounded-corners-10, .ccm-btn-preview-container .btn.btn-rounded-corners-10 {
  border-radius: 10px;
}
.ccm-page .btn.btn-rounded-corners-15, .ccm-btn-preview-container .btn.btn-rounded-corners-15 {
  border-radius: 15px;
}
.ccm-page .btn.btn-rounded-corners-20, .ccm-btn-preview-container .btn.btn-rounded-corners-20 {
  border-radius: 20px;
}
.ccm-page .btn.btn-rounded-corners-25, .ccm-btn-preview-container .btn.btn-rounded-corners-25 {
  border-radius: 25px;
}
.ccm-page .btn.btn-shadow-style-1, .ccm-btn-preview-container .btn.btn-shadow-style-1 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.ccm-page .btn.btn-shadow-style-2, .ccm-btn-preview-container .btn.btn-shadow-style-2 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ccm-page .btn.btn-shadow-style-3, .ccm-btn-preview-container .btn.btn-shadow-style-3 {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.ccm-page .btn.btn-shadow-style-4, .ccm-btn-preview-container .btn.btn-shadow-style-4 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ccm-page .btn.btn-shadow-style-5, .ccm-btn-preview-container .btn.btn-shadow-style-5 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.ccm-page .btn.btn-shadow-style-6, .ccm-btn-preview-container .btn.btn-shadow-style-6 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ccm-page .btn.btn-shadow-style-7, .ccm-btn-preview-container .btn.btn-shadow-style-7 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ccm-page .btn.btn-shadow-style-8, .ccm-btn-preview-container .btn.btn-shadow-style-8 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.ccm-page .btn.btn-shadow-style-9, .ccm-btn-preview-container .btn.btn-shadow-style-9 {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.ccm-page .btn.btn-shadow-style-10, .ccm-btn-preview-container .btn.btn-shadow-style-10 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.ccm-page .btn.btn-gradient-direction-right.btn-primary.disabled, .ccm-page .btn.btn-gradient-direction-right.btn-primary:disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-primary.disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-primary:disabled {
  background: linear-gradient(to right, rgb(var(--primary-button-disabled-background-color)) 33%, hsl(from rgb(var(--primary-button-disabled-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-right.btn-primary:not(.disabled):not(:disabled), .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-primary:not(.disabled):not(:disabled) {
  background: linear-gradient(to right, rgb(var(--primary-button-regular-background-color)) 33%, hsl(from rgb(var(--primary-button-regular-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-right.btn-primary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-right.btn-primary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-primary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-primary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to right, rgb(var(--primary-button-active-background-color)) 33%, hsl(from rgb(var(--primary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-right.btn-outline-primary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-right.btn-outline-primary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-outline-primary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-outline-primary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to right, rgb(var(--primary-button-active-background-color)) 33%, hsl(from rgb(var(--primary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-right.btn-secondary.disabled, .ccm-page .btn.btn-gradient-direction-right.btn-secondary:disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-secondary.disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-secondary:disabled {
  background: linear-gradient(to right, rgb(var(--secondary-button-disabled-background-color)) 33%, hsl(from rgb(var(--secondary-button-disabled-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-right.btn-secondary:not(.disabled):not(:disabled), .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-secondary:not(.disabled):not(:disabled) {
  background: linear-gradient(to right, rgb(var(--secondary-button-regular-background-color)) 33%, hsl(from rgb(var(--secondary-button-regular-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-right.btn-secondary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-right.btn-secondary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-secondary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-secondary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to right, rgb(var(--secondary-button-active-background-color)) 33%, hsl(from rgb(var(--secondary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-right.btn-outline-secondary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-right.btn-outline-secondary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-outline-secondary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-right.btn-outline-secondary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to right, rgb(var(--secondary-button-active-background-color)) 33%, hsl(from rgb(var(--secondary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-left.btn-primary.disabled, .ccm-page .btn.btn-gradient-direction-left.btn-primary:disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-primary.disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-primary:disabled {
  background: linear-gradient(to left, rgb(var(--primary-button-disabled-background-color)) 33%, hsl(from rgb(var(--primary-button-disabled-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-left.btn-primary:not(.disabled):not(:disabled), .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-primary:not(.disabled):not(:disabled) {
  background: linear-gradient(to left, rgb(var(--primary-button-regular-background-color)) 33%, hsl(from rgb(var(--primary-button-regular-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-left.btn-primary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-left.btn-primary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-primary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-primary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to left, rgb(var(--primary-button-active-background-color)) 33%, hsl(from rgb(var(--primary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-left.btn-outline-primary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-left.btn-outline-primary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-outline-primary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-outline-primary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to left, rgb(var(--primary-button-active-background-color)) 33%, hsl(from rgb(var(--primary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-left.btn-secondary.disabled, .ccm-page .btn.btn-gradient-direction-left.btn-secondary:disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-secondary.disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-secondary:disabled {
  background: linear-gradient(to left, rgb(var(--secondary-button-disabled-background-color)) 33%, hsl(from rgb(var(--secondary-button-disabled-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-left.btn-secondary:not(.disabled):not(:disabled), .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-secondary:not(.disabled):not(:disabled) {
  background: linear-gradient(to left, rgb(var(--secondary-button-regular-background-color)) 33%, hsl(from rgb(var(--secondary-button-regular-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-left.btn-secondary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-left.btn-secondary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-secondary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-secondary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to left, rgb(var(--secondary-button-active-background-color)) 33%, hsl(from rgb(var(--secondary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-left.btn-outline-secondary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-left.btn-outline-secondary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-outline-secondary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-left.btn-outline-secondary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to left, rgb(var(--secondary-button-active-background-color)) 33%, hsl(from rgb(var(--secondary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-top.btn-primary.disabled, .ccm-page .btn.btn-gradient-direction-top.btn-primary:disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-primary.disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-primary:disabled {
  background: linear-gradient(to top, rgb(var(--primary-button-disabled-background-color)) 33%, hsl(from rgb(var(--primary-button-disabled-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-top.btn-primary:not(.disabled):not(:disabled), .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-primary:not(.disabled):not(:disabled) {
  background: linear-gradient(to top, rgb(var(--primary-button-regular-background-color)) 33%, hsl(from rgb(var(--primary-button-regular-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-top.btn-primary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-top.btn-primary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-primary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-primary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to top, rgb(var(--primary-button-active-background-color)) 33%, hsl(from rgb(var(--primary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-top.btn-outline-primary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-top.btn-outline-primary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-outline-primary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-outline-primary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to top, rgb(var(--primary-button-active-background-color)) 33%, hsl(from rgb(var(--primary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-top.btn-secondary.disabled, .ccm-page .btn.btn-gradient-direction-top.btn-secondary:disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-secondary.disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-secondary:disabled {
  background: linear-gradient(to top, rgb(var(--secondary-button-disabled-background-color)) 33%, hsl(from rgb(var(--secondary-button-disabled-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-top.btn-secondary:not(.disabled):not(:disabled), .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-secondary:not(.disabled):not(:disabled) {
  background: linear-gradient(to top, rgb(var(--secondary-button-regular-background-color)) 33%, hsl(from rgb(var(--secondary-button-regular-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-top.btn-secondary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-top.btn-secondary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-secondary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-secondary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to top, rgb(var(--secondary-button-active-background-color)) 33%, hsl(from rgb(var(--secondary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-top.btn-outline-secondary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-top.btn-outline-secondary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-outline-secondary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-top.btn-outline-secondary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to top, rgb(var(--secondary-button-active-background-color)) 33%, hsl(from rgb(var(--secondary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-bottom.btn-primary.disabled, .ccm-page .btn.btn-gradient-direction-bottom.btn-primary:disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-primary.disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-primary:disabled {
  background: linear-gradient(to bottom, rgb(var(--primary-button-disabled-background-color)) 33%, hsl(from rgb(var(--primary-button-disabled-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-bottom.btn-primary:not(.disabled):not(:disabled), .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-primary:not(.disabled):not(:disabled) {
  background: linear-gradient(to bottom, rgb(var(--primary-button-regular-background-color)) 33%, hsl(from rgb(var(--primary-button-regular-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-bottom.btn-primary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-bottom.btn-primary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-primary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-primary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to bottom, rgb(var(--primary-button-active-background-color)) 33%, hsl(from rgb(var(--primary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-bottom.btn-outline-primary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-bottom.btn-outline-primary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-outline-primary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-outline-primary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to bottom, rgb(var(--primary-button-active-background-color)) 33%, hsl(from rgb(var(--primary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-bottom.btn-secondary.disabled, .ccm-page .btn.btn-gradient-direction-bottom.btn-secondary:disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-secondary.disabled, .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-secondary:disabled {
  background: linear-gradient(to bottom, rgb(var(--secondary-button-disabled-background-color)) 33%, hsl(from rgb(var(--secondary-button-disabled-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-bottom.btn-secondary:not(.disabled):not(:disabled), .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-secondary:not(.disabled):not(:disabled) {
  background: linear-gradient(to bottom, rgb(var(--secondary-button-regular-background-color)) 33%, hsl(from rgb(var(--secondary-button-regular-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-bottom.btn-secondary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-bottom.btn-secondary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-secondary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-secondary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to bottom, rgb(var(--secondary-button-active-background-color)) 33%, hsl(from rgb(var(--secondary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-gradient-direction-bottom.btn-outline-secondary:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-gradient-direction-bottom.btn-outline-secondary:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-outline-secondary:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-gradient-direction-bottom.btn-outline-secondary:not(.disabled):not(:disabled):active {
  background: linear-gradient(to bottom, rgb(var(--secondary-button-active-background-color)) 33%, hsl(from rgb(var(--secondary-button-active-background-color)) h s calc(l + 10)) 100%);
}
.ccm-page .btn.btn-rounded-icon i, .ccm-btn-preview-container .btn.btn-rounded-icon i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: 1em;
  border-radius: 50%;
}
.ccm-page .btn.btn-rounded-icon i::before, .ccm-btn-preview-container .btn.btn-rounded-icon i::before {
  font-size: 0.6em;
}
.ccm-page .btn.btn-rounded-icon.btn-primary.disabled i, .ccm-page .btn.btn-rounded-icon.btn-primary:disabled i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-primary.disabled i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-primary:disabled i {
  background-color: rgb(var(--primary-button-disabled-text-color));
  color: rgb(var(--primary-button-disabled-background-color));
}
.ccm-page .btn.btn-rounded-icon.btn-primary:not(.disabled):not(:disabled) i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-primary:not(.disabled):not(:disabled) i {
  background-color: rgb(var(--primary-button-regular-text-color));
  color: rgb(var(--primary-button-regular-background-color));
}
.ccm-page .btn.btn-rounded-icon.btn-primary:not(.disabled):not(:disabled):hover i, .ccm-page .btn.btn-rounded-icon.btn-primary:not(.disabled):not(:disabled):active i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-primary:not(.disabled):not(:disabled):hover i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-primary:not(.disabled):not(:disabled):active i {
  background-color: rgb(var(--primary-button-active-text-color));
  color: rgb(var(--primary-button-active-background-color));
}
.ccm-page .btn.btn-rounded-icon.btn-outline-primary.disabled i, .ccm-page .btn.btn-rounded-icon.btn-outline-primary:disabled i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-outline-primary.disabled i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-outline-primary:disabled i {
  background-color: rgb(var(--primary-button-disabled-border-color));
  color: rgb(var(--primary-button-active-text-color));
}
.ccm-page .btn.btn-rounded-icon.btn-outline-primary:not(.disabled):not(:disabled) i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-outline-primary:not(.disabled):not(:disabled) i {
  background-color: rgb(var(--primary-button-active-border-color));
  color: rgb(var(--primary-button-active-text-color));
}
.ccm-page .btn.btn-rounded-icon.btn-outline-primary:not(.disabled):not(:disabled):hover i, .ccm-page .btn.btn-rounded-icon.btn-outline-primary:not(.disabled):not(:disabled):active i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-outline-primary:not(.disabled):not(:disabled):hover i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-outline-primary:not(.disabled):not(:disabled):active i {
  background-color: rgb(var(--primary-button-active-text-color));
  color: rgb(var(--primary-button-active-background-color));
}
.ccm-page .btn.btn-rounded-icon.btn-secondary.disabled i, .ccm-page .btn.btn-rounded-icon.btn-secondary:disabled i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-secondary.disabled i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-secondary:disabled i {
  background-color: rgb(var(--secondary-button-disabled-text-color));
  color: rgb(var(--secondary-button-disabled-background-color));
}
.ccm-page .btn.btn-rounded-icon.btn-secondary:not(.disabled):not(:disabled) i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-secondary:not(.disabled):not(:disabled) i {
  background-color: rgb(var(--secondary-button-regular-text-color));
  color: rgb(var(--secondary-button-regular-background-color));
}
.ccm-page .btn.btn-rounded-icon.btn-secondary:not(.disabled):not(:disabled):hover i, .ccm-page .btn.btn-rounded-icon.btn-secondary:not(.disabled):not(:disabled):active i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-secondary:not(.disabled):not(:disabled):hover i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-secondary:not(.disabled):not(:disabled):active i {
  background-color: rgb(var(--secondary-button-active-text-color));
  color: rgb(var(--secondary-button-active-background-color));
}
.ccm-page .btn.btn-rounded-icon.btn-outline-secondary.disabled i, .ccm-page .btn.btn-rounded-icon.btn-outline-secondary:disabled i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-outline-secondary.disabled i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-outline-secondary:disabled i {
  background-color: rgb(var(--secondary-button-disabled-border-color));
  color: rgb(var(--secondary-button-active-text-color));
}
.ccm-page .btn.btn-rounded-icon.btn-outline-secondary:not(.disabled):not(:disabled) i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-outline-secondary:not(.disabled):not(:disabled) i {
  background-color: rgb(var(--secondary-button-regular-border-color));
  color: rgb(var(--secondary-button-active-text-color));
}
.ccm-page .btn.btn-rounded-icon.btn-outline-secondary:not(.disabled):not(:disabled):hover i, .ccm-page .btn.btn-rounded-icon.btn-outline-secondary:not(.disabled):not(:disabled):active i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-outline-secondary:not(.disabled):not(:disabled):hover i, .ccm-btn-preview-container .btn.btn-rounded-icon.btn-outline-secondary:not(.disabled):not(:disabled):active i {
  background-color: rgb(var(--secondary-button-active-text-color));
  color: rgb(var(--secondary-button-active-background-color));
}
.ccm-page .btn.btn-animated-icon, .ccm-btn-preview-container .btn.btn-animated-icon {
  display: inline-flex;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.ccm-page .btn.btn-animated-icon:not(.disabled):not(:disabled):hover i, .ccm-page .btn.btn-animated-icon:not(.disabled):not(:disabled):active i, .ccm-btn-preview-container .btn.btn-animated-icon:not(.disabled):not(:disabled):hover i, .ccm-btn-preview-container .btn.btn-animated-icon:not(.disabled):not(:disabled):active i {
  transform: rotate(45deg);
}
.ccm-page .btn.btn-animated-icon i, .ccm-btn-preview-container .btn.btn-animated-icon i {
  transition: all 0.3s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) {
  transition: transform 0.44s ease, box-shadow 0.44s ease;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled).btn-primary div, .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled).btn-primary div {
  text-shadow: 0 1rem 0 rgb(var(--primary-button-active-text-color));
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled).btn-outline-primary div, .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled).btn-outline-primary div {
  text-shadow: 0 1rem 0 rgb(var(--primary-button-active-text-color));
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled).btn-secondary div, .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled).btn-secondary div {
  text-shadow: 0 1rem 0 rgb(var(--secondary-button-active-text-color));
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled).btn-outline-secondary div, .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled).btn-outline-secondary div {
  text-shadow: 0 1rem 0 rgb(var(--secondary-button-active-text-color));
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div, .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div {
  display: inline-flex;
  overflow: hidden;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span, .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span {
  display: inline-block;
  transition: transform 0.44s ease;
  transform: translateY(var(--m)) translateZ(0);
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(1), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(1) {
  transition-delay: 0.0333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(2), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(2) {
  transition-delay: 0.0666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(3), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(3) {
  transition-delay: 0.1s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(4), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(4) {
  transition-delay: 0.1333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(5), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(5) {
  transition-delay: 0.1666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(6), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(6) {
  transition-delay: 0.2s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(7), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(7) {
  transition-delay: 0.2333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(8), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(8) {
  transition-delay: 0.2666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(9), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(9) {
  transition-delay: 0.3s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(10), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(10) {
  transition-delay: 0.3333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(11), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(11) {
  transition-delay: 0.3666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(12), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(12) {
  transition-delay: 0.4s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(13), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(13) {
  transition-delay: 0.4333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(14), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(14) {
  transition-delay: 0.4666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(15), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(15) {
  transition-delay: 0.5s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(16), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(16) {
  transition-delay: 0.5333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(17), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(17) {
  transition-delay: 0.5666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(18), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(18) {
  transition-delay: 0.6s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(19), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(19) {
  transition-delay: 0.6333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(20), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(20) {
  transition-delay: 0.6666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(21), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(21) {
  transition-delay: 0.7s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(22), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(22) {
  transition-delay: 0.7333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(23), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(23) {
  transition-delay: 0.7666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(24), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(24) {
  transition-delay: 0.8s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(25), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(25) {
  transition-delay: 0.8333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(26), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(26) {
  transition-delay: 0.8666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(27), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(27) {
  transition-delay: 0.9s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(28), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(28) {
  transition-delay: 0.9333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(29), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(29) {
  transition-delay: 0.9666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(30), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(30) {
  transition-delay: 1s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(31), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(31) {
  transition-delay: 1.0333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(32), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(32) {
  transition-delay: 1.0666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(33), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(33) {
  transition-delay: 1.1s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(34), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(34) {
  transition-delay: 1.1333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(35), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(35) {
  transition-delay: 1.1666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(36), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(36) {
  transition-delay: 1.2s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(37), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(37) {
  transition-delay: 1.2333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(38), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(38) {
  transition-delay: 1.2666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(39), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(39) {
  transition-delay: 1.3s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(40), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(40) {
  transition-delay: 1.3333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(41), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(41) {
  transition-delay: 1.3666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(42), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(42) {
  transition-delay: 1.4s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(43), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(43) {
  transition-delay: 1.4333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(44), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(44) {
  transition-delay: 1.4666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(45), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(45) {
  transition-delay: 1.5s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(46), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(46) {
  transition-delay: 1.5333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(47), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(47) {
  transition-delay: 1.5666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(48), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(48) {
  transition-delay: 1.6s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(49), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(49) {
  transition-delay: 1.6333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(50), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(50) {
  transition-delay: 1.6666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(51), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(51) {
  transition-delay: 1.7s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(52), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(52) {
  transition-delay: 1.7333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(53), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(53) {
  transition-delay: 1.7666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(54), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(54) {
  transition-delay: 1.8s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(55), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(55) {
  transition-delay: 1.8333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(56), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(56) {
  transition-delay: 1.8666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(57), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(57) {
  transition-delay: 1.9s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(58), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(58) {
  transition-delay: 1.9333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(59), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(59) {
  transition-delay: 1.9666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(60), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(60) {
  transition-delay: 2s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(61), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(61) {
  transition-delay: 2.0333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(62), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(62) {
  transition-delay: 2.0666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(63), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(63) {
  transition-delay: 2.1s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(64), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(64) {
  transition-delay: 2.1333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(65), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(65) {
  transition-delay: 2.1666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(66), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(66) {
  transition-delay: 2.2s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(67), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(67) {
  transition-delay: 2.2333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(68), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(68) {
  transition-delay: 2.2666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(69), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(69) {
  transition-delay: 2.3s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(70), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(70) {
  transition-delay: 2.3333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(71), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(71) {
  transition-delay: 2.3666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(72), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(72) {
  transition-delay: 2.4s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(73), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(73) {
  transition-delay: 2.4333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(74), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(74) {
  transition-delay: 2.4666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(75), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(75) {
  transition-delay: 2.5s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(76), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(76) {
  transition-delay: 2.5333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(77), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(77) {
  transition-delay: 2.5666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(78), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(78) {
  transition-delay: 2.6s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(79), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(79) {
  transition-delay: 2.6333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(80), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(80) {
  transition-delay: 2.6666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(81), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(81) {
  transition-delay: 2.7s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(82), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(82) {
  transition-delay: 2.7333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(83), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(83) {
  transition-delay: 2.7666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(84), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(84) {
  transition-delay: 2.8s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(85), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(85) {
  transition-delay: 2.8333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(86), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(86) {
  transition-delay: 2.8666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(87), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(87) {
  transition-delay: 2.9s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(88), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(88) {
  transition-delay: 2.9333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(89), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(89) {
  transition-delay: 2.9666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(90), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(90) {
  transition-delay: 3s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(91), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(91) {
  transition-delay: 3.0333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(92), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(92) {
  transition-delay: 3.0666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(93), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(93) {
  transition-delay: 3.1s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(94), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(94) {
  transition-delay: 3.1333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(95), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(95) {
  transition-delay: 3.1666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(96), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(96) {
  transition-delay: 3.2s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(97), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(97) {
  transition-delay: 3.2333333333s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(98), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(98) {
  transition-delay: 3.2666666667s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(99), .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled) div span:nth-child(99) {
  transition-delay: 3.3s;
}
.ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled):hover span, .ccm-page .btn.btn-animated-text:not(.disabled):not(:disabled):active span, .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled):hover span, .ccm-btn-preview-container .btn.btn-animated-text:not(.disabled):not(:disabled):active span {
  --m: calc(1rem * -1);
}
.ccm-page .btn.btn-animated-on-hover, .ccm-btn-preview-container .btn.btn-animated-on-hover {
  transition: all 0.3s;
}
.ccm-page .btn.btn-animated-on-hover:not(.disabled):not(:disabled):hover, .ccm-page .btn.btn-animated-on-hover:not(.disabled):not(:disabled):active, .ccm-btn-preview-container .btn.btn-animated-on-hover:not(.disabled):not(:disabled):hover, .ccm-btn-preview-container .btn.btn-animated-on-hover:not(.disabled):not(:disabled):active {
  transform: translateY(-3px);
}
